{% extends 'base.html.twig' %}

{% block title %}V칛lkommen{% endblock %}

{% block body %}
    <h1>Hej! 游녦</h1>
    <p>Jag heter Oscar och jag l칛ser kursen "mvc" p친 BTH. Jag gillar att koda, spela D&D, g친 p친 konserter, l칛ra mig nya ramverk och Kalmar HC s친 klart.</p>
    
    <img src="{{ asset('build/images/min-bild.jpg') }}" alt="Bild p친 mig" style="max-width: 300px; border-radius: 8px; margin-top: 1em;">

    <p>P친 denna sida hittar du info om kursen, mina redovisningar och lite annat sm친tt och gott. 游땏</p>
{% endblock %}