html, body {
    background-color: #fff; /* vit bakgrund */
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: #8B0000; /* mörkröd text för kontrast */
    margin: 0;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #8B0000; /* mörkröd */
    color: #FFD700; /* guld */
    padding: 1em;
}

main {
    flex: 1;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

nav ul {
    display: flex;
    gap: 1em;
    list-style: none;
    padding: 0;
    margin: 0.5em 0 0 0;
    justify-content: center;
}

nav a {
    color: #FFD700; /* guldtext */
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: #8B0000;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav a,
footer a {
    color: #ffffff;
    text-decoration: none;
}

nav a:hover,
footer a:hover {
    text-decoration: underline;
}

.lucky-box {
    margin-top: 50px;
    padding: 30px;
    border: 5px dashed #FFD700; /* guld */
    background-color: #fff;
    border-radius: 20px;
    display: inline-block;
    animation: wiggle 0.5s ease-in-out infinite alternate;
}

@keyframes wiggle {
    0% { transform: rotate(-1deg); }
    100% { transform: rotate(1deg); }
}

img {
    margin-top: 20px;
    width: 200px;
}
