{% extends 'base.html.twig' %}

{% block title %}Redovisning{% endblock %}

{% block body %}
    <h1>游닄 Mina redovisningstexter</h1>

    <section id="kmom01">
        <h2>kmom01</h2>
        <p>
            I detta kursmoment installerade jag Symfony, satte upp Encore och skapade min f칬rsta route. Det var lite kr친ngligt med att f친 ig친ng allt p친 studentservern, men nu fungerar det!
        </p>
    </section>

    <section id="kmom02">
        <h2>kmom02</h2>
        <p>
            (L칛gg till text h칛r senare)
        </p>
    </section>

    <!-- L칛gg till fler kmom-sektioner senare -->
{% endblock %}
